/* Start Global Rules */

html {
    scroll-behavior: smooth;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
  }

  :root {
    --main-color :#f10016;
    --alt-main-color : #07134a;
    --main-transition : 0.9s;
    --atl-white : #ddd;
  }

  body {
    font-family: system-ui;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }

  ul {
    list-style: none;
    margin : 0px;
    padding: 0px;
  }

  a {
    text-decoration: none;
  }
  /* End Global Rules */

 



  /* Start header */

        .header {
          width: 100%;
          position :fixed;
          z-index: 1;
        }

        .header .container {
            position: relative;
        }
  /* End Header */



  /* Start linding  */

  .landing {
    margin: 0px;
    padding: 0px;
    height: 140vh;
    width: 100%;
    background-color: green;
    background-image: url('./assets/landing/a.jpg');
    background-size: cover;
    position: relative;
   }

   .landing .direction {
    margin: 0px;   
    padding: 0px;
    height: inherit;
    width: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    .landing .direction .top {

        margin: 0px;
        padding: 0px;
        height: 55%;
        width: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: end;
    }

    .landing .direction .top img {

        width: 300px;
        margin-bottom: 30px;

    }
    .landing .direction .top h1 {

        color: white;
        background-color: var(--alt-main-color);
        opacity: 0.8;
        padding: 10px;
        margin: 0px;
        border-radius: 25px 25px 25px 25px;
        font-weight: bold;

    }

    .landing .direction .top p {

        color: white;
        background-color: var(--main-color);
        opacity: 0.8;
        padding: 12px;
        margin: 0px;
        font-weight: bold ;
        border-radius: 0px 0px 25px 25px;

    }

    .landing .direction .medium {
        margin: 0px;   
        padding: 0px;
        height: 10%;
        width: inherit;
    }

    .landing .direction .medium  ul {

        height: inherit;
        width: inherit;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;

    }

    
    .landing .direction .medium  ul li{
       padding: 0px;
       margin: 0px;
       height: 50px;
       width: 50px;
       border: 8px solid var(--alt-main-color);
       border-radius: 50%;
       opacity: 0.8;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .landing .direction .medium  ul li:hover{
        border: 4px solid var(--main-color);
        opacity: 0.8;
        transition: var(--main-transition);
     }

    .landing .direction .medium  ul li img{
        width: 35px;
     }
 

    .landing .direction .bottom {

        margin: 0px;   
        padding: 0px;
        height: 35%;
        width: inherit;

    }

    .landing .direction .bottom ul {

        margin: 0px;   
        padding: 0px;
        height: 100%;
        width: inherit;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

    }


    .landing .direction .bottom ul li{

        height: 20px;
        width: 20px;
        border: 2px solid #ddd;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;

    }

    .landing .direction .bottom ul li:hover{

        border: 4px solid var(--alt-main-color);
        opacity: var(--main-transition);
        height: 23px;
        width: 23px;
        background-color: #ddd;


    }




  /* End Landing */


  /* Start GTHCONSULT */
 .gthconsult{
   width: 100%;
   padding: 0px;
   margin-top: 60px;
   position: relative;
 }


  /* End GTHCONSULT */


  
        /* start metie */

        /* start metier  */
.metier {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.metier .container {
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  border-left: #07134a 5px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50px;
}

.metier h1:nth-child(1) {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  font-size: 46px;
  color: #09154c;
  align-items: center;
  opacity: 0.3;
  padding-bottom: 10px;
}

.metier h1:nth-child(2) {
  text-align: center;
  font-size: 35px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  inline-size: fit-content;
}
.metier .container p {
  color: #07134a;
  height: 100%;
  margin-top: 20px;
  font-size: 23px;
  padding: 15px;
  letter-spacing: 1px;
}
.metier .container p span {
  color: #d01f1f;
  font-size: 30px;
  font-weight: bold;
}
/* end metier */

        /* end metie */


    /*  Start Media query Rules */


    /* Extra large devices (large mobile and phone, 357px and down) */
      @media only screen and (max-width: 768px) {


        /* Start Header */
        .header .container {
            width : 370px;
            margin-left: auto;
            margin-right: auto;
            height: 80px;
            background-color: black;
        }

        .header .container .top {
            padding: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .header .container .top ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }   

        .header .container .top ul li  {
           color: var(--atl-white);
           font-size: 8px;
           padding-top: 6px;
        } 
        .header .container .bottom {
            padding: 0;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0;
            position: relative;
            border-radius: 0px 0px 0px 0px;
            background-color: white;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

          }


        .header .container .bottom .logo {
                padding: 0;
                height: 100%;
                width: 20%;
        }
        .header .container .bottom .logo img {
                height: 100%;
                width: 100%;
        }

          .header .container .bottom .nav{
            padding: 0;
            height: 100%;
            width: auto;
            margin: 0px auto 0px auto;
            
          }
          
          .header .container .bottom .nav ul{
              padding: 0;
              height: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
          }
          
          
          .header .container .bottom .nav ul li{
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-left: 5px;
            font-size: 8px;
          }
          
          .header .container .bottom .nav ul li a{
            color: #07134a;
          }  
          .header .container .bottom .nav ul li:hover{
              border-bottom: 4px solid #d01f1f;
              transition: 0.15s;
              color :#d01f1f;
              font-weight: bold;
          
          }
    

          /* End Header */

          /* start landing  */
          .landing .direction .top h1 {

            color: white;
            background-color: var(--alt-main-color);
            opacity: 0.8;
            padding: 10px;
            margin: 0px;
            border-radius: 25px 25px 0px 0px;
            font-weight: bold;
            font-size: 10px;
    
        }
    
        .landing .direction .top p {
    
            color: white;
            background-color: var(--main-color);
            opacity: 0.8;
            padding: 5px;
            margin: 0px;
            font-weight: bold ;
            font-size: 10px;
    
        }
          /* end landing */

        /* start gthconsult */
        .gthconsult .container{

          width : 370px;
          padding: 0px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
          
        }
        .gthconsult h1:nth-child(1){

          text-align: center;
          margin-top: 40px;
          font-weight: 900;
          font-size: 20px;
          color: #09154c;
          align-items: center;
          opacity: 0.3;
          padding-bottom: 10px;
          
        }
        .gthconsult h1:nth-child(2){

          text-align: center;
          font-size: 15px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          inline-size: fit-content;
          
        }

        .gthconsult .container .desc{

          height: 200px;
          width: 100%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          position: relative;
          margin-top: 10px;
          border-left: 1px solid #07134a;
          border-radius: 40px 40px 0 40px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          border-bottom: 1px solid #07134a;
      
        }
        .gthconsult .container .desc:nth-child(3){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          display: none;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(5){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
          display: none;
        }
        .gthconsult .container .desc:nth-child(6){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
          display: none;
        }

        .gthconsult .container .desc:nth-child(7){
          height: 350px;
        }
        .gthconsult .container .desc:nth-child(7) div img{
          width:40px;
        }

        .gthconsult .container .desc:nth-child(7) img{
          width: 350px;
        }

        .gthconsult .container .desc:nth-child(8){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
          display: none;
        }


        .gthconsult .container .desc div{
          display: flex;
          flex-direction: row;
          height: 40px;
          margin-left: 15px;
        }


        .gthconsult .container .desc div h2{
          font-size: 15px;
          color: var(--main-color);
        }

        .gthconsult .container .desc span {
          margin-left: 15px;
          color: #4b537b;
          padding-top: 10px;
          line-height: 25px;
          letter-spacing: -1px;
        }
        /* end gthconsult */

        
        /* start metier */
        .metier .container {
          width: 370px;
        }
        .metier h1:nth-child(1) {
          text-align: center;
          margin-top: 40px;
          font-weight: 900;
          font-size: 20px;
          color: #09154c;
          align-items: center;
          opacity: 0.3;
          padding-bottom: 10px;
        }
        
        .metier h1:nth-child(2) {
          text-align: center;
          font-size: 15px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          inline-size: fit-content;
        }
        .metier .container p {
          color: #07134a;
          height: 100%;
          margin-top: 20px;
          font-size: 15px;
          padding: 15px;
          letter-spacing: 1px;
        }
        .metier .container p span {
          color: #d01f1f;
          font-size: 30px;
          font-weight: bold;
        }
      /* end metier  */   

      /* start prestation */
      .prestation {
        margin-top: 60px;
        width: 100%;
        padding: 0px;
        border: 0px;
        height: 100%;
      }

      .prestation .container {
        width: 370px;
        padding-left: 0px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        border: 0px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: 100%;
        position: relative;
        border-left: 3px solid #07134a;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 50px 0px 0px 50px;
      }
      .prestation .container ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
      }

      .prestation .container ul li {
        position: relative;
        left: 10px;
        color: #07134a;
        list-style: none;
        margin: 4px 0px;
        border-left: 5px solid #d01f1f;
        transition: 0.5s;
        cursor: pointer;
        font-size: 14px;
      }

      .prestation .container ul li img {
        width: 30px;
      }

      .prestation .container ul li span {
        padding-left: 15px;
      }

      .prestation .container ul li ul li {
        border-left: 0px solid;
        font-size: 10px;
      }

      .prestation .container ul li ul li img {
        width: 30px;
      }

      .prestation h1:nth-child(1) {
        text-align: center;
        margin-top: 40px;
        font-weight: 900;
        font-size: 20px;
        color: #09154c;
        align-items: center;
        opacity: 0.3;
        padding-bottom: 10px;
      }

      .prestation h1:nth-child(2) {
        text-align: center;
        font-size: 15px;
        color: #37416d;
        font-weight: bold;
        background: white;
        border: 1px solid #37419a;
        padding-top: 10px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        inline-size: fit-content;
      }
      /* end Prestation */

      /* start realisations */
      .realisations {
        display: none;
      }
      /* end realisations */

      /* start contact */

.contact {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.contact .container {
  width: 370px;
  padding-left: 0px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact .container .form {
  margin-top: 60px;
  width: 100%;
}

.contact .container .adresse {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #07134a;
  border-radius: 50px 0px 0px 0px;
  border-top: 3px solid #d01f1f;
  opacity: 0.96;
}

.contact .container .adresse .map {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.contact .container .adresse ul li {
  color: #ffffffd4;
  padding-left: 25px;
  padding-bottom: 15px;
}

.contact .container .adresse h3 {
  color: #ffffffd4;
  font-size: 30px;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact .container .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .form p {
  text-align: center;
  color: #07134a;
  margin-bottom: 10px;
  font-weight: 200;
}

.contact .container .form form input {
  width: 80%;
  height: 60px;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact .container .form form .button {
  background-color: #07134a;
  color: white;
  font-weight: 200;
}

.contact .container .form form textarea {
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact h1:nth-child(1) {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  font-size: 20px;
  color: #09154c;
  align-items: center;
  opacity: 0.3;
  padding-bottom: 10px;
}

.contact h1:nth-child(2) {
  text-align: center;
  font-size: 15px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  inline-size: fit-content;
}
/* end contact */
    }


      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) {

        /* Start Header */

        .header .container {
            width : 750px;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            background-color: black;
           }

        .header .container .top {
            padding: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .header .container .top ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px;
        }   

        .header .container .top ul li  {
           color: var(--atl-white);
           font-size: 8px;
           padding-left: 10px;
           padding-right: 10px;
        } 

        .header .container .bottom {
            padding: 0;
            height: 60px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border-radius: 0px 0px 40px 0px;
            background-color: white;
          }


          .header .container .bottom .logo {
            padding: 0;
            height: 100%;
            width: 30%;
        }
        .header .container .bottom .logo img {
              padding: 10px;
              height: 100%;
              width: 70%;
        }

          .header .container .bottom .nav{
            padding: 0;
            height: 100%;
          }
          
          .header .container .bottom .nav ul{
              padding: 0;
              height: 100%;
              display: flex;
              align-items: center;
          }
          
          
          .header .container .bottom .nav ul li{
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          
          .header .container .bottom .nav ul li a{
            color: #07134a;
          }
          .header .container .bottom .nav ul li:nth-child(6) a{
            color: white;
          }
          
          .header .container .bottom .nav ul li:hover{
              border-bottom: 4px solid #d01f1f;
              transition: 0.15s;
              color :#d01f1f;
              font-weight: bold;
          
          }
            
          .header .container .bottom .nav ul li:nth-child(6){
             background-color: #d01f1f;
             font-size: 20px;
             font-weight: bold;
             color: white;
             height: 100%;
             border-radius: 40px 0px 40px 0px;
          }
          .header .container .bottom .nav ul li:nth-child(6) a :hover{
            color: #d01f1f;
          }
          
          .header .container .bottom .nav ul li:nth-child(6):hover{
             background-color: white;
             font-weight: bold;
             height: 100%;
             transition: 0.7s;
          }

          /* End Header */

    /* start gthconsult */
        .gthconsult .container{

          width : 1170px;
          padding: 0px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
          
        }
        .gthconsult h1:nth-child(1){

          text-align: center;
          margin-top: 40px;
          font-weight: 900;
          font-size: 30px;
          color: #09154c;
          align-items: center;
          opacity: 0.3;
          padding-bottom: 10px;
          
        }
        .gthconsult h1:nth-child(2){

          text-align: center;
          font-size: 25px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          inline-size: fit-content;
          
        }

        .gthconsult .container .desc{

          height: 200px;
          width: 45%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          position: relative;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          border-left: 5px solid #07134a;
          border-radius: 40px 40px 0 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-bottom: 5px solid #07134a;
      
        }
        .gthconsult .container .desc:nth-child(3){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          display: block;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(5){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }
        .gthconsult .container .desc:nth-child(6){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(7){
          height: 450px;
        }

        .gthconsult .container .desc:nth-child(8){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }


        .gthconsult .container .desc div{
          display: flex;
          flex-direction: row;
          height: 70px;
          margin-left: 15px;
        }

        .gthconsult .container .desc div img{
          width: 70px;
        }

        .gthconsult .container .desc div h2{
          font-size: 30px;
          color: var(--main-color);
        }

        .gthconsult .container .desc span {
          margin-left: 15px;
          color: #4b537b;
          padding-top: 10px;
          line-height: 20px;
          letter-spacing: 1px;

        }
        /* end gthconsult */

        /* start metier */
        .metier .container {
          width: 750px;
        }
      /* end metier  */   
      
      /* start prestation */
              .prestation {
                margin-top: 60px;
                width: 100%;
                padding: 0px;
                border: 0px;
                height: 100%;
              }
      
              .prestation .container {
                width: 750px;
                padding-left: 0px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
                border: 0px;
                background-color: white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                height: 100%;
                position: relative;
                border-left: 3px solid #07134a;
                padding-top: 40px;
                padding-bottom: 40px;
                border-radius: 50px 0px 0px 50px;
              }
              .prestation .container ul {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
              }
      
              .prestation .container ul li {
                position: relative;
                left: 60px;
                color: #07134a;
                list-style: none;
                margin: 4px 0px;
                border-left: 5px solid #d01f1f;
                transition: 0.5s;
                cursor: pointer;
                font-size: 20px;
              }
      
              .prestation .container ul li img {
                width: 30px;
              }
      
              .prestation .container ul li span {
                padding-left: 15px;
              }
      
              .prestation .container ul li ul li {
                border-left: 0px solid;
                font-size: 15px;
              }
      
              .prestation .container ul li ul li img {
                width: 30px;
              }
      
              .prestation h1:nth-child(1) {
                  text-align: center;
                  margin-top: 40px;
                  font-weight: 900;
                  font-size: 46px;
                  color: #09154c;
                  align-items: center;
                  opacity: 0.3;
                  padding-bottom: 10px;
              }
      
              .prestation h1:nth-child(2) {
                text-align: center;
                font-size: 35px;
                color: #37416d;
                font-weight: bold;
                background: white;
                border: 1px solid #37419a;
                padding-top: 10px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
                margin-top: 40px;
                padding: 15px;
                inline-size: fit-content;
              }
              /* end Prestation */

              /* start realisations */

.realisations {
  width: 100%;
  background: white;
  padding: 0;
  margin-top: 60px;
  padding-bottom: 40px;
}
.realisations h1 {
    width: 750px;
    text-align: center;
    font-size: 35px;
    color: #37416d;
    font-weight: bold;
    background: white;
    border: 1px solid #37419a;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 15px;
    inline-size: fit-content;
}

.realisations .container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  border-left: #07134a 5px solid;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.realisations .container .slider {
    
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.realisations .container .slider .photo {

  padding: 0px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: cover;
  height: inherit;
  width: inherit;

}

.imageProject1 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject2 {
  background-image: url('../assets/project/2.jpg');
}
.imageProject3 {
  background-image: url('../assets/project/3.jpg');
}
.imageProject4 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject5 {
  background-image: url('../assets/project/1.jpg');
}


.realisations .container .right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.realisations .container .right div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
    cursor: pointer;
}


.realisations .container .right div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}


.realisations .container .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}


.realisations .container .left div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
 
}


.realisations .container .left div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}


/* end realisations */


/* start contact */

.contact {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.contact .container {
  width: 750px;
  padding-left: 0px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.contact .container .form {
  margin-top: 60px;
  width: 50%;
}

.contact .container .adresse {
  width: 50%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #07134a;
  border-radius: 50px 0px 0px 0px;
  border-top: 3px solid #d01f1f;
  opacity: 0.96;
}

.contact .container .adresse .map {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.contact .container .adresse ul li {
  color: #ffffffd4;
  padding-left: 25px;
  padding-bottom: 15px;
}

.contact .container .adresse h3 {
  color: #ffffffd4;
  font-size: 30px;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact .container .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .form p {
  text-align: center;
  color: #07134a;
  margin-bottom: 10px;
  font-weight: 200;
}

.contact .container .form form input {
  width: 80%;
  height: 60px;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact .container .form form .button {
  background-color: #07134a;
  color: white;
  font-weight: 200;
}

.contact .container .form form textarea {
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact h1:nth-child(1) {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  font-size: 46px;
  color: #09154c;
  align-items: center;
  opacity: 0.3;
  padding-bottom: 10px;
}

.contact h1:nth-child(2) {
  text-align: center;
  font-size: 35px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  inline-size: fit-content;
  margin-bottom: 40px;
}
/* end contact */



      }

      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {

        /* Start Header */

        .header .container {
            width : 970px;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            background-color: black;
           }
        .header .container .top {
            padding: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .header .container .top ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px;
        }   

        .header .container .top ul li  {
           color: var(--atl-white);
           font-size: 11px;
           padding-left: 10px;
           padding-right: 10px;
        }
        
        .header .container .bottom {
            padding: 0;
            height: 60px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border-radius: 0px 0px 40px 0px;
            background-color: white;
          }


          .header .container .bottom .logo {
            padding: 0;
            height: 100%;
            width: 30%;
        }
        .header .container .bottom .logo img {
              padding: 10px;
              height: 100%;
              width: 30%;
        }

          .header .container .bottom .nav{
            padding: 0;
            height: 100%;
          }
          
          .header .container .bottom .nav ul{
              padding: 0;
              height: 100%;
              display: flex;
              align-items: center;
          }
          
          
          .header .container .bottom .nav ul li{
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          
          .header .container .bottom .nav ul li a{
            color: #07134a;
          }
          .header .container .bottom .nav ul li:nth-child(6) a{
            color: white;
          }
          
          .header .container .bottom .nav ul li:hover{
              border-bottom: 4px solid #d01f1f;
              transition: 0.15s;
              color :#d01f1f;
              font-weight: bold;
          
          }
            
          .header .container .bottom .nav ul li:nth-child(6){
             background-color: #d01f1f;
             font-size: 20px;
             font-weight: bold;
             color: white;
             height: 100%;
             border-radius: 40px 0px 40px 0px;
          }
          .header .container .bottom .nav ul li:nth-child(6) a :hover{
            color: #d01f1f;
          }
          
          .header .container .bottom .nav ul li:nth-child(6):hover{
             background-color: white;
             font-weight: bold;
             height: 100%;
             transition: 0.7s;
          }

          /* End Header */

          /* start gthconsult */
        .gthconsult .container{

          width : 1170px;
          padding: 0px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
          
        }
        .gthconsult h1:nth-child(1){

          text-align: center;
          margin-top: 40px;
          font-weight: 900;
          font-size: 30px;
          color: #09154c;
          align-items: center;
          opacity: 0.3;
          padding-bottom: 10px;
          
        }
        .gthconsult h1:nth-child(2){

          text-align: center;
          font-size: 25px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          inline-size: fit-content;
          
        }

        .gthconsult .container .desc{

          height: 200px;
          width: 45%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          position: relative;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          border-left: 5px solid #07134a;
          border-radius: 40px 40px 0 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-bottom: 5px solid #07134a;
      
        }
        .gthconsult .container .desc:nth-child(3){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          display: block;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(5){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }
        .gthconsult .container .desc:nth-child(6){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(7){
          height: 450px;
        }

        .gthconsult .container .desc:nth-child(8){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }


        .gthconsult .container .desc div{
          display: flex;
          flex-direction: row;
          height: 70px;
          margin-left: 15px;
        }

        .gthconsult .container .desc div img{
          width: 70px;
        }

        .gthconsult .container .desc div h2{
          font-size: 30px;
          color: var(--main-color);
        }

        .gthconsult .container .desc span {
          margin-left: 15px;
          color: #4b537b;
          padding-top: 10px;
          line-height: 20px;
          letter-spacing: 1px;

        }
        /* end gthconsult */

        /* start metier */
          .metier .container {
            width: 970px;
          }
        /* end metier  */

        /* start prestation */
        .prestation {
          margin-top: 60px;
          width: 100%;
          padding: 0px;
          border: 0px;
          height: 100%;
        }

        .prestation .container {
          width: 970px;
          padding-left: 0px;
          padding-right: 15px;
          margin-left: auto;
          margin-right: auto;
          border: 0px;
          background-color: white;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          height: 100%;
          position: relative;
          border-left: 3px solid #07134a;
          padding-top: 40px;
          padding-bottom: 40px;
          border-radius: 50px 0px 0px 50px;
        }
        .prestation .container ul {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          position: relative;
        }

        .prestation .container ul li {
          position: relative;
          left: 60px;
          color: #07134a;
          list-style: none;
          margin: 4px 0px;
          border-left: 5px solid #d01f1f;
          transition: 0.5s;
          cursor: pointer;
          font-size: 32px;
        }

        .prestation .container ul li img {
          width: 30px;
        }

        .prestation .container ul li span {
          padding-left: 15px;
        }

        .prestation .container ul li ul li {
          border-left: 0px solid;
          font-size: 20px;
        }

        .prestation .container ul li ul li img {
          width: 30px;
        }

        .prestation h1:nth-child(1) {
            text-align: center;
            margin-top: 40px;
            font-weight: 900;
            font-size: 46px;
            color: #09154c;
            align-items: center;
            opacity: 0.3;
            padding-bottom: 10px;
        }

        .prestation h1:nth-child(2) {
          text-align: center;
          font-size: 35px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 40px;
          margin-top: 40px;
          padding: 15px;
          inline-size: fit-content;
        }
        /* end Prestation */

        /* start realisations */

.realisations {
  width: 100%;
  background: white;
  padding: 0;
  margin-top: 60px;
  padding-bottom: 40px;
}
.realisations h1 {
    text-align: center;
    font-size: 35px;
    color: #37416d;
    font-weight: bold;
    background: white;
    border: 1px solid #37419a;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 15px;
    inline-size: fit-content;
}

.realisations .container {
  width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  border-left: #07134a 5px solid;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.realisations .container .slider {
    
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.realisations .container .slider .photo {

  padding: 0px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: cover;
  height: inherit;
  width: inherit;

}

.imageProject1 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject2 {
  background-image: url('../assets/project/2.jpg');
}
.imageProject3 {
  background-image: url('../assets/project/3.jpg');
}
.imageProject4 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject5 {
  background-image: url('../assets/project/1.jpg');
}


.realisations .container .right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.realisations .container .right div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
    cursor: pointer;
}


.realisations .container .right div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}


.realisations .container .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}


.realisations .container .left div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
 
}


.realisations .container .left div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}


/* end realisations */

/* start contact */

.contact {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.contact .container {
  width: 970px;
  padding-left: 0px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.contact .container .form {
  margin-top: 60px;
  width: 50%;
}

.contact .container .adresse {
  width: 50%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #07134a;
  border-radius: 50px 0px 0px 0px;
  border-top: 3px solid #d01f1f;
  opacity: 0.96;
}

.contact .container .adresse .map {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.contact .container .adresse ul li {
  color: #ffffffd4;
  padding-left: 25px;
  padding-bottom: 15px;
}

.contact .container .adresse h3 {
  color: #ffffffd4;
  font-size: 30px;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact .container .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .form p {
  text-align: center;
  color: #07134a;
  margin-bottom: 10px;
  font-weight: 200;
}

.contact .container .form form input {
  width: 80%;
  height: 60px;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact .container .form form .button {
  background-color: #07134a;
  color: white;
  font-weight: 200;
}

.contact .container .form form textarea {
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact h1:nth-child(1) {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  font-size: 46px;
  color: #09154c;
  align-items: center;
  opacity: 0.3;
  padding-bottom: 10px;
}

.contact h1:nth-child(2) {
  text-align: center;
  font-size: 35px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  inline-size: fit-content;
  margin-bottom: 40px;
}
/* end contact */


}

      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) {

        /* start Header */
  
        .header .container {
            width : 1170px;
            margin-left: auto;
            margin-right: auto;
            height: 40px;
            background-color: black;
            padding: 0px;
           }

        .header .container .top {
            padding: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .header .container .top ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px;
        }   

        .header .container .top ul li  {
           color: var(--atl-white);
           font-size: 13px;
           padding-left: 10px;
           padding-right: 10px;
        }   
        .header .container .top ul li svg{
          margin-left: 3px;
       }

        .header .container .bottom {
            padding: 0;
            height: 60px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border-radius: 0px 0px 40px 0px;
            background-color: white;
          }

          .header .container .bottom .logo {
              padding: 0;
              height: 100%;
              width: 30%;
          }
          .header .container .bottom .logo img {
                padding: 10px;
                height: 100%;
                width: 30%;
          }

          .header .container .bottom .nav{
            padding: 0;
            height: 100%;
          }
          
          .header .container .bottom .nav ul{
              padding: 0;
              height: 100%;
              display: flex;
              align-items: center;
          }
          
          
          .header .container .bottom .nav ul li{
            padding-left: 10px;
            padding-right: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          
          .header .container .bottom .nav ul li a{
            color: #07134a;
          }
          .header .container .bottom .nav ul li:nth-child(6) a{
            color: white;
          }
          
          .header .container .bottom .nav ul li:hover{
              border-bottom: 4px solid #d01f1f;
              transition: 0.15s;
              color :#d01f1f;
              font-weight: bold;
          
          }
            
          .header .container .bottom .nav ul li:nth-child(6){
             background-color: #d01f1f;
             font-size: 20px;
             font-weight: bold;
             color: white;
             height: 100%;
             border-radius: 40px 0px 40px 0px;
          }
          .header .container .bottom .nav ul li:nth-child(6) a :hover{
            color: #d01f1f;
          }
          
          .header .container .bottom .nav ul li:nth-child(6):hover{
             background-color: white;
             font-weight: bold;
             height: 100%;
             transition: 0.7s;
          }

        /* End Header */



        /* start gthconsult */
        .gthconsult .container{

          width : 1170px;
          padding: 0px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
          
        }
        .gthconsult h1:nth-child(1){

          text-align: center;
          margin-top: 40px;
          font-weight: 900;
          font-size: 46px;
          color: #09154c;
          align-items: center;
          opacity: 0.3;
          padding-bottom: 10px;
          
        }
        .gthconsult h1:nth-child(2){

          text-align: center;
          font-size: 35px;
          color: #37416d;
          font-weight: bold;
          background: white;
          border: 1px solid #37419a;
          padding-top: 10px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto;
          padding: 15px;
          inline-size: fit-content;
          
        }

        .gthconsult .container .desc{

          height: 200px;
          width: 45%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          position: relative;
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          border-left: 5px solid #07134a;
          border-radius: 40px 40px 0 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-bottom: 5px solid #07134a;
      
        }
        .gthconsult .container .desc:nth-child(3){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          display: block;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(5){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }
        .gthconsult .container .desc:nth-child(6){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }

        .gthconsult .container .desc:nth-child(7){
          height: 450px;
        }

        .gthconsult .container .desc:nth-child(8){

          height: 200px;
          width: 20%;
          border: 0px;
          background: none;
          opacity: 0;
        }


        .gthconsult .container .desc div{
          display: flex;
          flex-direction: row;
          height: 70px;
          margin-left: 15px;
        }

        .gthconsult .container .desc div img{
          width: 70px;
        }

        .gthconsult .container .desc div h2{
          font-size: 30px;
          color: var(--main-color);
        }

        .gthconsult .container .desc span {
          margin-left: 15px;
          color: #4b537b;
          padding-top: 10px;
          line-height: 20px;
          letter-spacing: 1px;

        }
        /* end gthconsult */

        /* start metier */
        .metier .container {
          width: 1170px;
        }
        /* end metier  */


/* start prestation */
.prestation {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.prestation .container {
  width: 1170px;
  padding-left: 0px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;
  border-left: 3px solid #07134a;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 50px 0px 0px 50px;
}
.prestation .container ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.prestation .container ul li {
  position: relative;
  left: 60px;
  color: #07134a;
  list-style: none;
  margin: 4px 0px;
  border-left: 5px solid #d01f1f;
  transition: 0.5s;
  cursor: pointer;
  font-size: 32px;
}

.prestation .container ul li img {
  width: 30px;
}

.prestation .container ul li span {
  padding-left: 15px;
}

.prestation .container ul li ul li {
  border-left: 0px solid;
  font-size: 20px;
}

.prestation .container ul li ul li img {
  width: 30px;
}

.prestation h1:nth-child(1) {
    text-align: center;
    margin-top: 40px;
    font-weight: 900;
    font-size: 46px;
    color: #09154c;
    align-items: center;
    opacity: 0.3;
    padding-bottom: 10px;
}

.prestation h1:nth-child(2) {
  text-align: center;
  font-size: 35px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 15px;
  inline-size: fit-content;
}
/* end Prestation */


/* start realisations */

.realisations {
  width: 100%;
  background: white;
  padding: 0;
  margin-top: 60px;
  padding-bottom: 40px;
}
.realisations h1 {
    text-align: center;
    font-size: 35px;
    color: #37416d;
    font-weight: bold;
    background: white;
    border: 1px solid #37419a;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 15px;
    inline-size: fit-content;
}

.realisations .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  border-left: #07134a 5px solid;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.realisations .container .slider {
    
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.realisations .container .slider .photo {

  padding: 0px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: cover;
  height: inherit;
  width: inherit;

}

.imageProject1 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject2 {
  background-image: url('../assets/project/2.jpg');
}
.imageProject3 {
  background-image: url('../assets/project/3.jpg');
}
.imageProject4 {
  background-image: url('../assets/project/1.jpg');
}
.imageProject5 {
  background-image: url('../assets/project/1.jpg');
}


.realisations .container .right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.realisations .container .right div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
    cursor: pointer;
}


.realisations .container .right div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}


.realisations .container .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}


.realisations .container .left div {
    height: 70px;
    width: 70px;
    border: 8px solid #d01f1f;
    border-radius: 50px;
 
}


.realisations .container .left div:hover {
    border: 8px solid #07134a;
    transition: 0.6s;
}

/* end realistation */


/* start contact */

.contact {
  margin-top: 60px;
  width: 100%;
  padding: 0px;
  border: 0px;
  height: 100%;
}

.contact .container {
  width: 1170px;
  padding-left: 0px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.contact .container .form {
  margin-top: 60px;
  width: 50%;
}

.contact .container .adresse {
  width: 50%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #07134a;
  border-radius: 50px 0px 0px 0px;
  border-top: 3px solid #d01f1f;
  opacity: 0.96;
}

.contact .container .adresse .map {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.contact .container .adresse ul li {
  color: #ffffffd4;
  padding-left: 25px;
  padding-bottom: 15px;
}

.contact .container .adresse h3 {
  color: #ffffffd4;
  font-size: 30px;
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact .container .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .form p {
  text-align: center;
  color: #07134a;
  margin-bottom: 10px;
  font-weight: 200;
}

.contact .container .form form input {
  width: 80%;
  height: 60px;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact .container .form form .button {
  background-color: #07134a;
  color: white;
  font-weight: 200;
}

.contact .container .form form textarea {
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #37416d;
  margin-bottom: 15px;
  color: #37416d;
  font-size: 20px;
  outline: 0px;
}

.contact h1:nth-child(1) {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  font-size: 46px;
  color: #09154c;
  align-items: center;
  opacity: 0.3;
  padding-bottom: 10px;
}

.contact h1:nth-child(2) {
  text-align: center;
  font-size: 35px;
  color: #37416d;
  font-weight: bold;
  background: white;
  border: 1px solid #37419a;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  inline-size: fit-content;
  margin-bottom: 40px;
}
/* end contact */


}


  /* End Media Query Rules */